.App {
  background: #f62aa0;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}
